/* html { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: light;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {

}

p {
    color:darkred
} */

.q_and_a {
    width: 500px;
    margin: left;
}

.question {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight:; */
    color:rgb(28, 42, 58);
    width: 1000px;
    margin: left;
}

.answer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslategray;
    width: 400px;
    margin: auto
}

html {
    background-color:aliceblue;
}

