#rectangle {
    position: absolute;
    width: 600px;
    height: 800px;
    background: rgb(218, 217, 217);
}

#rectangle2 {
    position: absolute;
    width: 550px;
    height: 750px;
    top: 25px;
    left: 25px;
    background: rgb(48, 57, 58);
    overflow: hidden;
}


#forehead {
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgb(58, 124, 122);
    border-radius: 600px / 400px;
    transform: rotate(70deg);
    top: -50px;
    left: -140px;
}

#lowerface {
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgb(58, 124, 122);
    border-radius: 600px / 400px;
    transform: rotate(70deg);
    top: 220px;
    left: -50px;
}

#upperlip {
    position: absolute;
    width: 50px;
    height: 100px;
    background: rgb(58, 124, 122);
    border-radius: 100px / 100px;
    transform: rotate(120deg);
    top: 380px;
    left: 310px;
}
#lowerlip {
    position: absolute;
    width: 50px;
    height: 100px;
    background: rgb(58, 124, 122);
    border-radius: 100px / 100px;
    transform: rotate(130deg);
    top: 430px;
    left: 310px;
}

#chin {
    position: absolute;
    display: block;
    width: 126px;
    height: 250px;
    background: rgb(58, 124, 122);
    border-radius: 50% 50% 50% 50% / 60% 60% 50% 50%;
    top: 470px;
    left: 200px;
    transform: rotate(80deg);
}