h1 {
    color: rgb(84, 96, 70);
    font-size: 65px;
    font-family: Arial;
    width: 95%;
    text-align: left;
    margin: 20px;
}

h2 {
    color:rgb(85, 95, 63);
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    margin-left: 50px;
}

body {
    background-color: #2f3923;
    /* text-align: center; */
    margin: 0;
}

.image-container {
    display: flex;
    /* Enables Flexbox layout */
    justify-content: center;
    /* Centers images horizontally in the container */
    gap: 50px;
    /* Adds space between images */
}

.image-container img {
    width: 30%;
    /* Makes each image take up roughly a third of the width */
    height: auto;
    /* Maintains the image's aspect ratio */
    /* Optional: Add a maximum width to prevent images from becoming too large on wide screens */
    max-width: 100px;


}