h1 {
    color: rgb(84, 96, 70);
    font-size: 65px;
    font-family: Arial;
    width: 95%;
    text-align: left;
    margin-left: 10px;
    margin-top: -5px;
}

h2 {
    color:rgb(85, 95, 63);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    margin-left: 10px;
    margin-top: -40px;
}

body {
    background-color: #2f3923;
    /* text-align: center; */
    margin: 0;

    
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 550px;
}

.image-container {
    display: flex;
    /* Enables Flexbox layout */
    justify-content: center;
    /* Centers images horizontally in the container */
    gap: 20px;
    /* Adds space between images */
}

.image-container img {
    width: 30%;
    /* Makes each image take up roughly a third of the width */
    height: auto;
    /* Maintains the image's aspect ratio */
    /* Optional: Add a maximum width to prevent images from becoming too large on wide screens */
    max-width: 100px;


}